<!DOCTYPE html>
<html ng-app="kbApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://rawgit.com/angular/bower-angular-resource/master/angular-resource.min.js"></script>
  <meta charset="utf-8">
  <title>CH6</title>
  <style>
  	.theader{
  		background-color:#84C1FF;
  	}
  	
  	.noteClass.ng-invalid{
  		background-color:#FFD2D2;
  		width: 99%;
  	}
  	
  	.noteClass.ng-valid{
  		background-color:#CEFFCE;
  		width: 99%;
  	}
  </style>
</head>
<body ng-controller="MainCtrl as ctrl">

  <H3>清單資料</H3>
  <table width="30%" cellspacing="1" border="1" cellpadding="1">
  	<tr class="theader">
  		<td>Author</td>
  		<td>Label</td>
  		<td>Edit</td>
  		<td>Delete</td>
  	</tr>
  	<tr ng-repeat="item in ctrl.items track by item.id">
  		<td ng-bind="item.author"></td>
  		<td ng-bind="item.label"></td>
  		<td><a href="#" ng-click="ctrl.editItem(item)">Edit</a></td>
  		<td><a href="#" ng-click="ctrl.deleteItem(item)">Delete</a></td>
  	</tr>
  </table>
  <br/>
  <button type="button" width="100%" ng-click="ctrl.getItems()">get all items</button>
  <br/>
  <br/>
  <H3>新增/編輯資料</H3>
  <form ng-submit="ctrl.submitItem()" name="myForm">
	  <table width="30%" cellspacing="1" border="1" cellpadding="1">
	  	<tr class="theader">
	  		<td>Author</td>
	  		<td>Label</td>
	  	</tr>
	  	<tr>
	  		<td>
	  			<input type="text" ng-model="ctrl.item.author" class="noteClass" ng-minlength="3" required/>
	  		</td>
	  		<td>
	  			<input type="text" ng-model="ctrl.item.label" class="noteClass" ng-minlength="3" required/>
	  		</td>
	  	</tr>
	  </table>
	  <br/>
	  <button type="submit" ng-disabled="myForm.$invalid">Submit</button>
	  <span>備註:兩個欄位皆須輸入且至少三碼</span>
  </form>
  <br/>
  <br/>
  <H3>指定ID取得資料</H3>
  ID : <input type="text" ng-model="ctrl.id"/>&emsp;<button ng-click="ctrl.getItem()">get item</button>
  <br/>
  <br/>
  <div>
  	<H3>指定條件取得資料(完全比對)</H3>
  	Author : <input type="text" ng-model="ctrl.queryParams.author"/>
  	&emsp;
  	Label : <input type="text" ng-model="ctrl.queryParams.label"/>
  	&emsp;
  	<button ng-click="ctrl.getItemByParams()">get item</button>
  </div>
  
  <script>
    var kbApp = angular.module('kbApp',['ngResource']);
    kbApp.controller('MainCtrl',['ItemService','ResourceService','$log',function(itemSrv,resourceSrv,$log){
      var self = this;
      self.resourceFlag = false;
      self.items = [];
	  self.item = {};
	  self.id = null;
	  self.queryParams = {
			  label : '',
			  author : ''
	  }
	  
	  self.getItemByParams = function(){
		  if(self.resourceFlag){
			  itemSrv.queryByParam(self.queryParams).then(function(response){
				  self.items = response.data;
			  },function(error){
				  $log.log('call ItemService.queryByParam fail');
			  });
		  }else{
			  resourceSrv.queryByParam(self.queryParams,function(dataList){
				  self.items = dataList;
			  },function(error){
				  $log.log('call ResourceService.queryByParam fail');
			  }) 
		  }
	  }
	  
	  self.getItem = function(){
		  if(self.id){
			  if(self.resourceFlag){
				  itemSrv.queryItemByID(self.id).then(function(response){
					  self.items = [];
					  self.items.push(response.data)
				  },function(error){
					  $log.log('call ItemService.queryItemByID fail');
					  alert(error.data.msg);
				  });
			  }else{
				  resourceSrv.get({id:self.id},function(data){
					  self.items = [];
					  self.items.push(data)
				  },function(error){
					  $log.log('call ResourceService.get fail');
					  alert(error.data.msg);
				  });
			  }			  
		  }else{
			  alert('please input id');
		  }   
	  }
	  
	  self.editItem = function(item){
		  self.item = angular.copy(item);
	  }
	  
	  self.submitItem = function(){
		  if(self.item.id){
			  if(self.resourceFlag){
				  itemSrv.editItem(self.item.id,self.item).then(function(response){
					  refresh(response);
				  },function(error){
					  $log.log('call ItemService.editItem fail');
				  });
			  }else{
				  resourceSrv.editItem(self.item.id,self.item,function(response){
					  refresh(response);
				  },function(error){
					  $log.log('call ResourceService.editItem fail');
				  })
			  }			  
		  }else{
			  if(self.resourceFlag){
				  itemSrv.addItem(self.item).then(function(response){
					  refresh(response);
				  },function(error){
					  $log.log('call ItemService.addItem fail');
				  });
			  }else{
				  resourceSrv.save(self.item,function(response){
					  refresh(response);
				  },function(error){
					  $log.log('call ResourceService.save fail');
				  });
			  }			  
		  }  
	  }
	  
	  self.deleteItem = function(item){
		  if(self.resourceFlag){
			  itemSrv.deleteItem(item.id).then(function(response){
				  refresh(response);
			  },function(error){
				  $log.log('call ItemService.deleteItem fail');
			  });
		  }else{
			  resourceSrv.delete({id:item.id},function(response){
				  refresh(response);
			  },function(error){
				  $log.log('call ResourceService.delete fail');
			  });
		  }		  
	  }
      
      self.getItems = function(){
    	  if(self.resourceFlag){
    		  itemSrv.queryAll().then(function(response){
    		  	self.items = response.data;
   	 	      },function(error){
   	 	        $log.log('call ItemService.queryAll fail');
   	 	      });
    	  }else{
    		  resourceSrv.query(function(dataList){
    		 	//$log.log(dataList);
    			self.items = dataList;
    		  },function(error){
				$log.log('call ResourceService.query fail');
			  });
    	  }	  	  
      }
      
      function refresh(response){
		  $log.log('response='+JSON.stringify(response));
		  if(self.resourceFlag){
			  alert(response.data.msg);
		  }else{
			  alert(response.msg);
		  }		  
		  self.getItems();
		  self.item = {};
	  }
      
      self.getItems();
      
    }]);
	
	kbApp.factory('ItemService',['$http',function($http){
      return {
        queryAll : function(){
          return $http.get('/api/note');
        },
        
        queryByParam : function(item){
          return $http.post('/api/note/queryByParam',item)
        },
        
        queryItemByID : function(id){
          return $http.get('/api/note/'+id); 	
        },
        
        addItem : function(item){
          return $http.post('/api/note',item);
        },
        
        editItem : function(id,item){
          return $http.put('/api/note/'+id,item);
        },
        
        deleteItem : function(id){
          return $http.delete('/api/note/'+id);
        }
      }
    }]);
	
	kbApp.factory('ResourceService',['$resource',function($resource){
		return $resource('/api/note/:id',{ id:'@id'},{
			editItem : {
				method : 'PUT'
			},
			
			queryByParam : {
				url : '/api/note/queryByParam',
				method : 'POST',
				isArray : true,
				params : null
			}
		});
	}]);
  </script>
</body>
</html>