<!DOCTYPE html> 
<html ng-app="kbApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <meta charset="utf-8">
  <title>CH4</title>
</head>
<body ng-controller="MainCtrl as ctrl">
  
  <form ng-submit="ctrl.submit()">
    <table width="80%" cellspacing="1" border="1" cellpadding="1">
      <tr>
        <td>屬性簡述</td>
        <td>UI</td>
      </tr>
      <tr>
        <td>Textarea</td>
        <td>
          <textarea style="resize:none;" ng-model="ctrl.options.textarea"></textarea>
        </td>
      </tr>
      <tr>
        <td>Radio</td>
        <td>
          <!-- 若有動態給值的需求，使用 ng-value directive-->
          <input type="radio" name="gender" ng-model="ctrl.options.gender" value="male">male
          <input type="radio" name="gender" ng-model="ctrl.options.gender" value="female">female
          <input type="radio" name="gender" ng-model="ctrl.options.gender" ng-value="ctrl.child">
          <span ng-bind="ctrl.child"></span>
        </td>
      </tr>
      <tr>
        <td>Checkbox</td>
        <td>
          <!-- 
          	checkbox default true/false
          	若非預設型態使用 ng-true-value/ng-false-value directive 給值，如果沒有設定可能會綁定不到model
          -->
          <input type="checkbox" ng-model="ctrl.options.checkboxs" 
          	ng-true-value="1" ng-false-value="0">是否確認
        </td>
      </tr>
      <tr>
        <td>Checkbox Binding (one way)</td>
        <td>
          <!-- 單向綁定使用 ng-checked directive -->
          <div ng-repeat="sport in ctrl.sports">
            <input type="checkbox" ng-checked="sport.selected == 1" ng-disabled="true"/>
            <span ng-bind="sport.label"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td>Checkbox Binding (two way)</td>
        <td>
          <div ng-repeat="sport in ctrl.sports">
            <input type="checkbox" ng-model="sport.selected" ng-true-value="1"
                   ng-false-value="0"/>
            <span ng-bind="sport.label"></span>
          </div>
        </td>
      </tr>
      <!-- ng-options see >>> https://docs.angularjs.org/api/ng/directive/ngOptions -->
      <tr>
        <td>Select Model Value Binding</td>
        <td>
          <!-- value as label for item in array 表示式，此處綁定的是 model value -->
          <select ng-model="ctrl.options.country" 
            ng-options="country.id as country.label for country in ctrl.countries"></select>
        </td>
      </tr>
      <tr>
        <td>Select Object Binding</td>
        <td>
          <!-- label for item in array track by value ，此處綁定的是 object 且指定以id做為條件綁定 -->
          <select ng-model="ctrl.options.countryObject"
            ng-options="country.label for country in ctrl.countries track by country.id"></select>
        </td>
      </tr>
    </table>
    <br/>
    <button type="submit">Submit</button>
  </form>
  
  <script>
    var kbApp = angular.module('kbApp',[]);
    kbApp.controller('MainCtrl',[function(){
      
      var self = this;
      
      self.options = {
        textarea : '',
        checkboxs : 0,
        gender : 'male',
        country : 3,
        countryObject : {label: 'USA' , id: 1}
      };
      
      self.child = 'child';
      
      self.countries = [
        {label: 'USA', id: 1},
        {label: 'India', id: 2},
        {label: 'Taiwan', id: 3},
        {label: 'Other', id: 4}
      ];

      self.sports = [
         {label: 'Basketball', selected: 1},
         {label: 'Cricket', selected: 0},
         {label: 'Soccer', selected: 0},
         {label: 'Swimming', selected: 1}
      ];
      
      self.submit = function(){
        if(self.options){
          var optionsInfo = getObjectMessage(self.options);
          alert('optionsInfo\n'+optionsInfo);
        }
        
        var sprotsInfo = '';
        var sport = {};
        for(var i=0;i<self.sports.length;i++){
          sport = self.sports[i];
          sprotsInfo += sport.label + ' : '+sport.selected+'\n';
        }
        
        alert('Sprots Info\n'+sprotsInfo); 
      }
      
      function getObjectMessage(obj){
        var objectInfo = '';
        if(obj){
          for(var prop in obj){
            if(angular.isObject(obj[prop])){
              objectInfo += '*** obj ***\n';
              objectInfo += prop+'\n'+getObjectMessage(obj[prop])+'\n';
              objectInfo += '*** *** ***\n'
            }else{
              objectInfo += prop+' : '+obj[prop]+'\n';
            }
          }
          return objectInfo;
        }
        return null;
      }
    }]);
  </script>
</body>
</html>