<!DOCTYPE html>
<html ng-app="kbApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<!-- CDN:載入ngResource模組-->
<script src="https://rawgit.com/angular/bower-angular-resource/master/angular-resource.min.js"></script>
  <meta charset="utf-8">
  <title>CH6</title>
  <style>
  	.theader{
  		background-color:#84C1FF;
  	}
  	
  	.noteClass.ng-invalid{
  		background-color:#FFD2D2;
  		width: 99%;
  	}
  	
  	.noteClass.ng-valid{
  		background-color:#CEFFCE;
  		width: 99%;
  	}
  </style>
</head>
<body ng-controller="MainCtrl as ctrl">

  <H3>清單資料</H3>
  <table width="30%" cellspacing="1" border="1" cellpadding="1">
  	<tr class="theader">
  		<td>Author</td>
  		<td>Label</td>
  		<td>Edit</td>
  		<td>Delete</td>
  	</tr>
  	<tr ng-repeat="item in ctrl.items track by item.id">
  		<td ng-bind="item.author"></td>
  		<td ng-bind="item.label"></td>
  		<td><a href="#" ng-click="ctrl.editItem(item)">Edit</a></td>
  		<td><a href="#" ng-click="ctrl.deleteItem(item)">Delete</a></td>
  	</tr>
  </table>
  <br/>
  <button type="button" width="100%" ng-click="ctrl.getItems()">get all items</button>
  <br/>
  <br/>
  <H3>新增/編輯資料</H3>
  <form ng-submit="ctrl.submitItem()" name="myForm">
	  <table width="30%" cellspacing="1" border="1" cellpadding="1">
	  	<tr class="theader">
	  		<td>Author</td>
	  		<td>Label</td>
	  	</tr>
	  	<tr>
	  		<td>
	  			<input type="text" ng-model="ctrl.item.author" class="noteClass" ng-minlength="3" required/>
	  		</td>
	  		<td>
	  			<input type="text" ng-model="ctrl.item.label" class="noteClass" ng-minlength="3" required/>
	  		</td>
	  	</tr>
	  </table>
	  <br/>
	  <button type="submit" ng-disabled="myForm.$invalid">Submit</button>
	  <span>備註:兩個欄位皆須輸入且至少三碼</span>
  </form>
  <br/>
  <br/>
  <H3>指定ID取得資料</H3>
  ID : <input type="text" ng-model="ctrl.id"/>&emsp;<button ng-click="ctrl.getItem()">get item</button>
  <br/>
  <br/>
  <div>
  	<H3>指定條件取得資料(完全比對)</H3>
  	Author : <input type="text" ng-model="ctrl.queryParams.author"/>
  	&emsp;
  	Label : <input type="text" ng-model="ctrl.queryParams.label"/>
  	&emsp;
  	<button ng-click="ctrl.getItemByParams()">get item</button>
  </div>
  
  <script>
    //引入ngResource模組 
    //You can think of a module as a container for the different parts of your app – controllers, services, filters, directives, etc.
    var kbApp = angular.module('kbApp',['ngResource']);
    kbApp.controller('MainCtrl',['ItemService','ResourceService','$log',function(itemSrv,resourceSrv,$log){
      var self = this;
      //true:使用$http建構service(ItemService) ,false:使用$resource建構service(ResourceService)
      self.resourceFlag = false;
      //for 物件清單
      self.items = [];
      //for 編輯物件
	  self.item = {};
      //for ID查詢
	  self.id = null;
      //for 條件查詢
	  self.queryParams = {
			  label : '',
			  author : ''
	  }
	  
      //條件查詢物件
	  self.getItemByParams = function(){
		  if(self.resourceFlag){
			  itemSrv.queryByParam(self.queryParams).then(function(response){
				  self.items = response.data;
			  },function(error){
				  $log.log('call ItemService.queryByParam fail');
			  });
		  }else{
			  resourceSrv.queryByParam(self.queryParams,function(dataList){
				  self.items = dataList;
			  },function(error){
				  $log.log('call ResourceService.queryByParam fail');
			  }) 
		  }
	  }
	  
      //ID查詢物件
	  self.getItem = function(){
		  if(self.id){
			  if(self.resourceFlag){
				  itemSrv.queryItemByID(self.id).then(function(response){
					  self.items = [];
					  self.items.push(response.data)
				  },function(error){
					  $log.log('call ItemService.queryItemByID fail');
					  alert(error.data.msg);
				  });
			  }else{
				  resourceSrv.get({id:self.id},function(data){
					  self.items = [];
					  self.items.push(data)
				  },function(error){
					  $log.log('call ResourceService.get fail');
					  alert(error.data.msg);
				  });
			  }			  
		  }else{
			  alert('please input id');
		  }   
	  }
	  
      //編輯前置function
	  self.editItem = function(item){
		  self.item = angular.copy(item);
	  }
	  
      //表單送出時依據是否有ID決定呼叫新增或是編輯功能
	  self.submitItem = function(){
		  if(self.item.id){
			  if(self.resourceFlag){
				  itemSrv.editItem(self.item.id,self.item).then(function(response){
					  refresh(response);
				  },function(error){
					  $log.log('call ItemService.editItem fail');
				  });
			  }else{
				  resourceSrv.editItem(self.item.id,self.item,function(response){
					  refresh(response);
				  },function(error){
					  $log.log('call ResourceService.editItem fail');
				  })
			  }			  
		  }else{
			  if(self.resourceFlag){
				  itemSrv.addItem(self.item).then(function(response){
					  refresh(response);
				  },function(error){
					  $log.log('call ItemService.addItem fail');
				  });
			  }else{
				  resourceSrv.save(self.item,function(response){
					  refresh(response);
				  },function(error){
					  $log.log('call ResourceService.save fail');
				  });
			  }			  
		  }  
	  }
	  
      //刪除物件
	  self.deleteItem = function(item){
		  if(self.resourceFlag){
			  itemSrv.deleteItem(item.id).then(function(response){
				  refresh(response);
			  },function(error){
				  $log.log('call ItemService.deleteItem fail');
			  });
		  }else{
			  resourceSrv.delete({id:item.id},function(response){
				  refresh(response);
			  },function(error){
				  $log.log('call ResourceService.delete fail');
			  });
		  }		  
	  }
      
      //查詢所有物件
      self.getItems = function(){
    	  if(self.resourceFlag){
    		  itemSrv.queryAll().then(function(response){
    		  	self.items = response.data;
   	 	      },function(error){
   	 	        $log.log('call ItemService.queryAll fail');
   	 	      });
    	  }else{
    		  resourceSrv.query(function(dataList){
    		 	//$log.log(dataList);
    			self.items = dataList;
    		  },function(error){
				$log.log('call ResourceService.query fail');
			  });
    	  }	  	  
      }
      
      //response回來的時候重置畫面，包括重新搜尋物件清單以及清空編輯物件欄位
      function refresh(response){
		  //$log.log('response='+JSON.stringify(response));
		  if(self.resourceFlag){
			  alert(response.data.msg);
		  }else{
			  alert(response.msg);
		  }		  
		  self.getItems();
		  self.item = {};
	  }
      
      //ctrl初始化的時候先執行這個function
      self.getItems();
      
    }]);
	
    //$http see >>> https://docs.angularjs.org/api/ng/service/$http
	kbApp.factory('ItemService',['$http',function($http){
      return {
        queryAll : function(){
          return $http.get('/api/note');
        },
        
        queryByParam : function(item){
          return $http.post('/api/note/queryByParam',item)
        },
        
        queryItemByID : function(id){
          return $http.get('/api/note/'+id); 	
        },
        
        addItem : function(item){
          return $http.post('/api/note',item);
        },
        
        editItem : function(id,item){
          return $http.put('/api/note/'+id,item);
        },
        
        deleteItem : function(id){
          return $http.delete('/api/note/'+id);
        }
      }
    }]);
	
    /*
    	如果server端有提供RESTful APIs，建議使用$resource快速開發
		此範例編寫 ItemService 等價於 ResourceService
		程式架構上$resource更簡潔
		
    	$resource see >>> https://docs.angularjs.org/api/ngResource/service/$resource
		使用$resource建構後會自動引入以下方法到回傳的物件上
		
    	{ 'get':    {method:'GET'},
		  'save':   {method:'POST'},
		  'query':  {method:'GET', isArray:true},
		  'remove': {method:'DELETE'},
		  'delete': {method:'DELETE'} };
		注意:預設並沒有提供 method:'PUT'，必須額外定義於$resource第三個引數
		
		
		$resource 建構引數簡述:	
			
		第一個引數:RESTful url template
		第二個引數:
			Given a template /path/:verb and parameter {verb:'greet', salutation:'Hello'} 
			results in URL /path/greet?salutation=Hello.
			If the defaultParam object is {someParam: '@someProp'} 
			then the value of someParam will be data.someProp.
			給第三個引數使用的 common url template 轉換
			如果有定義 {key:'@xx'}，則引入的 data 的部分會是 data.xx for url template 轉換
		注意:以上兩個引數皆可於第三個引數覆寫
		
		第三個引數:新增的方法物件			
    */
	kbApp.factory('ResourceService',['$resource',function($resource){
		return $resource('/api/note/:id',{ id:'@id'},{
			editItem : {
				method : 'PUT'
			},
			
			queryByParam : {
				url : '/api/note/queryByParam',
				method : 'POST',
				params : null,
				isArray : true
			}
		});
	}]);
			
	/*
		angularjs 請求/回應 攔截器 see >>> https://docs.angularjs.org/api/ng/service/$http#interceptors
		可覆寫四個定義的方法 request、requestError、response、responseError
		如果是攔截正確的部分，引入參數(config/response)直接return即可
		如果是攔截異常的部分，使用$q.reject(data)確保下一個promise鏈結可進入錯誤處理
	*/
	kbApp.factory('NodeServerInterceptor',['$q','$log',function($q,$log){
		return {
			request : function(config){
				var logStr = config.method+' '+config.url;
				if(config.data){
					logStr += ' data:'+JSON.stringify(config.data)
				}
				$log.log(logStr);
				return config;
			},
			
			responseError : function(responseRejection){
				$log.log('NodeServerInterceptor catch response error : '+JSON.stringify(responseRejection));
				if(responseRejection.status == 403){
					//redirect to login page
				}
				return $q.reject(responseRejection);
			}
		}
	}]);
	
	/*
		使用 $httpProvider ，依據順序加到攔截器的陣列
		攔截器作用順序也依據加到 $httpProvider 的順序呼叫
	*/
	kbApp.config(['$httpProvider',function($httpProvider){
		//引入interceptor
		$httpProvider.interceptors.push('NodeServerInterceptor');
	}]);
  </script>
</body>
</html>