<!DOCTYPE html>
<html ng-app="kbApp">
<head>
  <meta charset="utf-8">
  <title>CH11</title>
</head>
<body ng-controller="MainCtrl as ctrl">
  <div ng-repeat="item in ctrl.stocks">
  	<!-- 
  		stock-data / json 
  		stock-index / string(or angularjs表達式{{}}) 
  		stock-change / function， controller 的 function 可由 directive 自由使用
  		但 function 指定的變數名稱需與 directive 提供的一致
  	-->
    <stock-widget 
    	stock-data="item" 
    	stock-index="{{$index}}"
    	stock-change="ctrl.changeDataByIndex(index,price,previous)"/>
  </div>
  
  <button ng-click="ctrl.changeAllStocks()">changeAllStocks(controller)</button>
  <button ng-click="ctrl.changeTheFirst()">changeTheFirst(controller)</button><br/><br/>
  <h2>ctrl.stocks</h2>
  <div ng-repeat="item in ctrl.stocks">
 	 <span ng-bind="item|json"></span>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="directive.js"></script>
  <script src="controller.js"></script>
</body>
</html>