<!DOCTYPE html>
<html ng-app="kbApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <meta charset="utf-8">
  <title>CH5</title>
</head>
<body ng-controller="MainCtrl as ctrl">
  
  <div>
    <button ng-click="ctrl.changeTab('first')">first tab</button>
    <button ng-click="ctrl.changeTab('second')">second tab</button>
  </div>
  
  <hr/>
  
  <!-- 
  	ng-switch see >>> https://docs.angularjs.org/api/ng/directive/ngSwitch 
  	每次切頁，新頁的SubCtrl將建立、舊頁的SubCtrl將銷毀 (每個controller都是獨立運作的)
  -->
  <div ng-switch on="ctrl.tab"> 
    
    <!-- 注意: ng-switch-when="matchValue" will match against the string -->
    <div ng-switch-when="first" ng-controller="SubCtrl as sub">
      <H3>First</H3>
      <ul>
        <li ng-repeat="item in sub.list">
          <span ng-bind="item.label"></span>
        </li>
      </ul>
      <button ng-click="sub.addItems()">add items</button>
    </div>
    
    <div ng-switch-when="second" ng-controller="SubCtrl as sub">
      <H3>Second</H3>
      <ul>
        <li ng-repeat="item in sub.list">
          <span ng-bind="item.label"></span>
        </li>
      </ul>
      <button ng-click="sub.addItems()">add items</button>
    </div>
    
  </div>
  
  <script>
    var kbApp = angular.module('kbApp',[]);
    
    //相依式注入 see >>> https://docs.angularjs.org/guide/di
    //陣列裡的引數(除了function)依順序排列至最後一個function引數內可達到DI的效果
    kbApp.controller('MainCtrl',['$log','$location',function($log,$location){
      var self = this;
      self.tab = 'first';
      
      self.changeTab = function(tab){
        self.tab = tab;
        $log.log('change to : '+tab);
        $log.log($location.absUrl());
      }
    }]);
    
    kbApp.controller('SubCtrl',[function(){
      var self = this;
      
      self.list = [
        { id:1 , label:'item 1'},
        { id:2 , label:'item 2'}
      ];
      
      self.addItems = function(){
        var count = self.list.length+1;
        self.list.push(
          { id:count , label:'item '+count}
        );
      }
    }]);
  </script>
</body>
</html>